# ===========================
# Vivado Generated Directories
# ===========================
**/.Xil/
**/.cache/
**/.gen/
**/.hw/
**/.ip_user_files/
**/.runs/
**/.sim/

# ===========================
# Vivado User Files
# ===========================
*.xpr.user

# ===========================
# Bitstreams
# ===========================
*.bit
*.bin
*.mcs

# ===========================
# Simulation
# ===========================
*.jou
*.log
*.pb
*.wdb
*.wcfg
*.str
*.vcd
*.sdf

# ===========================
# Temporary
# ===========================
*.tmp
*.backup

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# OS
# ===========================
Thumbs.db
.DS_Store